<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket-4.0.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="true">

	<context:annotation-config />

	<!-- 扫描服务层 -->
	<context:component-scan base-package="com.sys.service,com.sys.service.impl" />
	<context:component-scan base-package="com.tlms.core.service" />
	<context:component-scan base-package="com.tlms.core.servlce.impl" />
	<context:component-scan base-package="com.tlms.push.service.aopcontexttest" />
	<context:component-scan base-package="com.sys.aop.impl" />
	<!-- <bean class="com.sys.aop.aspect.PreGreetingAspect"/> -->

	<!-- 定义首页 -->
	<!-- <mvc:view-controller path="/" view-name="redirect:/login/" /> -->

	<!-- 返回json -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"
		p:messageConverters-ref="mappingJacksonHttpMessageConverter" />

	<!-- 基于@AspectJ注解的驱动器 -->
	<aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true" />
	<!-- 使用AspectJ注解的切面类 -->
	<bean class="com.sys.aop.aspect.PreGreetingAspect"/>

	<!-- <bean id="websocket" class="com.tlms.push2.WebsocketEndPoint"/> <websocket:handlers> 
		<websocket:mapping path="/websocket" handler="websocket"/> <websocket:handshake-interceptors> 
		<bean class="com.tlms.push2.HandshakeInterceptor"/> </websocket:handshake-interceptors> 
		</websocket:handlers> -->

<!-- dubbo相关配置 -->
<!-- 消费者 -->
	<dubbo:application name="dubbo_consumer"></dubbo:application>
	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="zookeeper://127.0.0.1:2181" check="false"></dubbo:registry>
	<!-- 要访问的服务接口 -->
	<!-- <dubbo:reference interface="com.pujjr.pjrp.dubbo.service.IDubboService" id="dubboServiceImpl"></dubbo:reference> -->
	<dubbo:reference interface="com.pujjr.pjrp.dubbo.service.IPjrpService" id="pjrpServiceImpl"></dubbo:reference>

</beans>